/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #2c3e50;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.171);
}

h1 {
    text-align: center;
    color: #1673b1;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 25px;
    border: 1px solid #ecf0f1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
}

input {
    background-color: #ecf0f1;
}

button {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.expense-date {
    font-size: 18px;
    font-weight: bold;
    color: #7f8c8d;
    margin-top: 20px;
    text-align: left;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

button.delete-btn {
    background-color: #e74c3c;
    color: white;
    font-size: 14px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #c0392b;
}

.total {
    background-color: #f2f3f5;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
}

.total p {
    font-size: 22px;
    font-weight: bold;
    color: #1673b1;
}
